<!DOCTYPE html>
<html>
<head>
<title>History</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="box">
<h2>Fuel History</h2>
<table border="1" width="100%">
<tr>
<th>ID</th>
<th>Fuel</th>
<th>Mileage</th>
<th>Distance</th>
<th>Date</th>
</tr>
{% for row in data %}
<tr>
<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }}</td>
<td>{{ row[3] }}</td>
<td>{{ row[4] }}</td>
</tr>
{% endfor %}
</table>
<br>
<a href="/">Back</a>
</div>
</body>
</html>