<!DOCTYPE html>
<html>
<head>
<title>Fuel Calculator</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="box">
<h2>Smart Fuel Distance Calculator</h2>
<form action="/calculate" method="post">
<input type="number" name="fuel" placeholder="Fuel (Liters)" required><br>
<input type="number" name="mileage" placeholder="Mileage (km/L)" required><br>
<button type="submit">Calculate</button>
</form>
<br>
<a href="/history">View History</a>
</div>
</body>
</html>